<!DOCTYPE html>
<html lang="nl">

<head>
    <title><%= className %> - <%= name %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="screen.css" is="custom-style" rel="stylesheet">
</head>

<body>

    <<%= name %> name="Bas" id="MyCustomElement"></<%= name %>>

    <script>
        // safari nomodule
        (function () {
            var d = document;
            var c = d.createElement('script');
            if (!('noModule' in c) && 'onbeforeload' in c) {
                var s = false;
                d.addEventListener('beforeload', function (e) {
                    if (e.target === c) {
                        s = true;
                    } else if (!e.target.hasAttribute('nomodule') || !s) {
                        return;
                    }
                    e.preventDefault();
                }, true);
                c.type = 'module';
                c.src = '.';
                d.head.appendChild(c);
                c.remove();
            }
        }());
    </script>

    <script type="module" defer src="https://unpkg.com/p-elements-core@^1.1.0/dist/p-elements-core-modern.js"></script>
    <script nomodule defer src="https://unpkg.com/p-elements-core@^1.1.0/dist/p-elements-core.js"></script>

    <script defer src="../dist/<%= name %>.js"></script>
    <script>
        document.getElementById("MyCustomElement").addEventListener("nameChange", function(e){
            console.info(e.detail)
        });
    </script>
</body>

</html>
