:root{
  --p-sample-color: green;
}
:not(.custom-style-defined) body{
  opacity: 0;
}
.custom-style-defined body{
  opacity: 1;
  transition: opacity 0.25s;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

